<span>
  CS Distribuidora de Peças Automotivas © 2024. Todos os direitos reservados.
</span>

<span>
  Desenvolvido por <a href="https://github.com/PecMont" target="_blank" rel="noopener">Pedro H. Guedes</a>.
</span>


